/* Importing fonts from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Julee&family=Just+Another+Hand&family=Kaushan+Script&family=Lobster&family=Pacifico&family=Playpen+Sans&family=Poppins&family=Prosto+One&family=Rampart+One&family=RocknRoll+One&family=Ubuntu&display=swap");

/* Global styles for the entire document */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* CSS Custom Properties (variables) defined for font families */
:root {
  --justAnotherHand: "Just Another Hand", cursive;
  --kaushan: "Kaushan Script", cursive;
  --lobster: "Lobster", sans-serif;
  --pacifio: "Pacifico", cursive;
  --playplen: "Playpen Sans", cursive;
  --poppins: "Poppins", sans-serif;
  --rocknRoll: "RocknRoll One", sans-serif;
  --ubuntu: "Ubuntu", sans-serif;
  --julee: "Julee", cursive;
  --prosto: "Prosto One", sans-serif;
  --rampart: "Rampart One", sans-serif;
  --poetsen: "Poetsen One", sans-serif;
}

/* Styling for the main container of the Btech component */
.btech-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styling for the top bar, including home and contribute buttons */
.topBar {
  width: 100%;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between !important;
  align-items: center;
}

/* Styling for buttons within the top bar */
.topBar button {
  border: none;
  border-radius: 5px;
  font-family: var(--prosto);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
}

/* Styling for the home button */
.topBar .home-btn {
  width: 100px;
  height: 40px;
  margin-left: 25px;
  background-color: #1784c7;
}

/* Styling for the home button image */
.topBar .home-btn img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* Styling for the contribute button */
.topBar .contribution-btn {
  height: 40px;
  padding: 0px 10px;
  margin-right: 25px;
  background-color: #00ca80;
}

/* Styling for the filters section */
.btech-container .filters {
  width: 80vw;
  padding: 10px 0px;
  margin: 20px 0px;
  background-color: #f7f8fc;
  display: flex;
  align-items: center;
}

/* Styling for the left side of filters */
.filters .leftSide {
  width: 40%;
}

/* Styling for the search bar within filters */
.leftSide .filters-searchBar {
  margin-left: 15px;
  display: flex;
  align-items: center;
}

/* Styling for the search bar icon */
.filters-searchBar img {
  width: 80px;
  height: 30px;
  padding: 5px;
  background-color: white;
}

/* Styling for the search bar input */
.filters-searchBar input {
  height: 30px;
  width: 800px;
  border: none;
  font-family: var(--rocknRoll);
}

/* Styling for the search bar input on focus */
.filters-searchBar input:focus {
  outline: none;
}

/* Styling for the right side of filters */
.filters .rightSide {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  column-gap: 15px;
}

/* Styling for input within filters */
.rightSide .filter input {
  height: 30px;
  border: none;
  padding: 0px 5px;
  font-family: var(--rocknRoll);
}

/* Styling for hover effect on filter inputs */
.filters input:hover {
  outline: 2px solid green;
}

/* Styling for the materials table section */
.btech-container .materials-table {
  width: 80vw;
  margin: 20px 0px;
}

/* Styling for the table and its headings */
.materials-table table {
  width: 100%;
  border: 2px solid black;
  font-family: var(--playplen);
}

table thead {
  background-color: #36304a;
  color: white;
}

/* Styling for hover effect on table rows */
table tbody tr:hover {
  background-color: #0342ff;
  color: white;
  transition: all 0.2s linear 0s;
}

/* Styling for even table rows */
table tbody tr:nth-of-type(even) {
  background-color: #f7f8fc;
  color: black !important;
}

/* Styling for even table rows on hover */
table tbody tr:nth-of-type(even):hover {
  background-color: #0342ff;
  color: white;
  transition: all 0.2s linear 0s;
}

/* Styling for table data cells */
table tbody td {
  text-align: center;
  padding: 5px 0px;
}

table tbody td .download-btn{
  background-color: transparent;
  border: none;
}

/* Styling for the table filters section */
.btech-container .table-filters {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-filters .top-btn {
  width: 100px;
  height: 35px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: gold;
}

.top-btn a {
  text-decoration: none;
  color: black;
  font-size: 1em;
  font-family: var(--poppins);
}

/* Styling for the left side of table filters */
.table-filters .leftSide {
  width: 50%;
}

/* Styling for content filter within table filters */
.leftSide .content-filter {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

/* Styling for the input within content filter */
.content-filter input {
  width: 50px;
  border-radius: 5px;
}

/* Styling for the right side of table filters */
.table-filters .rightSide {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  column-gap: 10px;
}

/* Styling for navigation buttons within table filters */
.rightSide button {
  width: 40px;
  height: 30px;
  border-radius: 30%;
  font-weight: 900;
}

/* Styling for the previous button */
.rightSide .previous-btn {
  border: 1px solid black;
  background-color: white;
  color: #2699fb;
}

/* Styling for the next button */
.rightSide .next-btn {
  border: none;
  background-color: #2699fb;
  color: white;
}

/* Styling for the contribution form container */
.contribution-form-container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(217, 217, 217, 50%);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0%;
}

/* Styling to display the contribution form */
.show {
  display: flex;
}

/* Styling for the contribution form */
.cf-form {
  width: 50%;
  height: 500px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
}

/* Styling for the contribution form header */
.cf-form .cf-form-header {
  width: 100%;
  height: 10%;
  padding: 0px 25px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #00ca80;
  color: white;
  font-family: var(--prosto);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Styling for the contribution form title */
.cf-form-header p {
  padding-right: 275px;
}

/* Styling for the contribution form content */
.cf-form form {
  width: 100%;
  height: 90%;
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  row-gap: 10%;
}

/* Styling for the first row in the contribution form */
.cf-form form .cf-row1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* Styling for the second row in the contribution form */
.cf-form form .cf-row2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 20px;
}

/* Styling for the input within the second row */
.cf-row2 input {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

/* Styling for the third row in the contribution form */
.cf-row3 {
  display: flex;
  justify-content: center;
  align-content: center;
}

/* Styling for the contribute button */
.confirm-btn {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #00ca80;
  color: white;
  font-family: var(--poppins);
}

/* Styling for the input fields in the contribution form */
.cf-form form input {
  width: 250px;
  height: 50px;
  border-radius: 5px;
  padding: 0px 10px;
  background-color: #eedd99;
  font-family: var(--rocknRoll);
  color: black;
}

/* Styling for the placeholder text in the input fields */
.cf-form form input::placeholder {
  color: black;
}

@media (max-width: 768px) {
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  .btech-container {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .topBar {
    width: 100%;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .topBar button {
    font-family: var(--prosto);
    color: white;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
  }

  .topBar .home-btn {
    height: 40px;
    padding: 0px 10px;
    background-color: #1784c7;
    margin-left: 0px !important;
  }

  .topBar .home-btn img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }

  .topBar .contribution-btn {
    background-color: #00ca80;
    height: 40px;
    padding: 0px 10px;
    margin-right: 0px;
  }

  .btech-container .filters {
    width: 80%;
    height: auto;
    margin: 20px 0px;
    padding: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 25px;
  }

  .filters .leftSide {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .filters .leftSide .filters-searchBar {
    margin-left: 0px;
    display: flex;
    align-items: center;
  }

  .filters-searchBar img {
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: white;
  }

  .filters-searchBar input {
    height: 30px;
    border: none;
    font-family: var(--rocknRoll);
  }

  .filters-searchBar input:focus {
    outline: none;
  }

  .filters .rightSide {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 10px;
  }

  .rightSide .filter input {
    height: 30px;
    border: none;
    padding: 0px 5px;
    font-family: var(--rocknRoll);
  }

  .filters input:hover {
    outline: 2px solid black;
  }

  .btech-container .materials-table {
    width: 80%;
    margin: 20px 0px;
  }

  .materials-table table {
    width: 100%;
    font-family: var(--playplen);
    font-size: 0.5em;
    border: 2px solid black;
  }

  table thead {
    background-color: #36304a;
    color: white;
  }

  table tbody tr:hover {
    background-color: #0342ff;
    color: white;
    transition: all 0.2s linear 0s;
  }

  table tbody tr:nth-of-type(even) {
    background-color: #f7f8fc;
    color: black !important;
  }

  table tbody tr:nth-of-type(even):hover {
    background-color: #0342ff;
    color: white;
    transition: all 0.2s linear 0s;
  }

  table tbody td {
    text-align: center;
    padding: 2px 0px;
  }

  .btech-container .table-filters {
    width: 80vw;
    font-size: 0.7em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .table-filters .top-btn {
    width: 100px;
    height: 35px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: gold;
  }

  .top-btn a {
    text-decoration: none;
    color: black;
    font-size: 1em;
    font-family: var(--poppins);
  }

  .contribution-form-container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(217, 217, 217, 50%);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0%;
  }

  .show {
    display: flex;
  }

  .contribution-form-container .cf-form {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cf-form .cf-form-header {
    width: 100%;
    height: 10%;
    padding: 0px 25px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #00ca80;
    color: white;
    font-family: var(--prosto);
    display: flex;
    align-items: center;
  }

  .cf-form .cf-form-header p {
    padding-right: 15px;
  }

  .cf-form .cf-row1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  .cf-form form .cf-row2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 20px;
  }

  .cf-row2 input {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .cf-row2 .fileInput-btn {
    width: 250px;
    height: 50px;
    border: none;
    padding: 15px 10px;
  }

  .cf-row2 .fileInput-btn input {
    width: 100%;
    height: 100%;
    background-color: inherit;
  }

  .cf-row3 {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .confirm-btn {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #00ca80;
    color: white;
    font-family: var(--poppins);
  }

  .cf-form form input {
    width: 250px;
    height: 50px;
    border-radius: 5px;
    padding: 0px 10px;
    background-color: #eedd99;
    font-family: var(--rocknRoll);
    color: black;
  }

  .cf-form form input::placeholder {
    color: black;
  }
}
