/* Importing fonts from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Julee&family=Just+Another+Hand&family=Kaushan+Script&family=Lobster&family=Pacifico&family=Playpen+Sans&family=Poppins&family=Prosto+One&family=Rampart+One&family=RocknRoll+One&family=Ubuntu&display=swap");

/* Resetting default margin, padding, and box-sizing for all elements */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Common stylings and variables declared using :root */
:root {
  --justAnotherHand: "Just Another Hand", cursive;
  --kaushan: "Kaushan Script", cursive;
  --lobster: "Lobster", sans-serif;
  --pacifio: "Pacifico", cursive;
  --playplen: "Playpen Sans", cursive;
  --poppins: "Poppins", sans-serif;
  --rocknRoll: "RocknRoll One", sans-serif;
  --ubuntu: "Ubuntu", sans-serif;
  --julee: "Julee", cursive;
  --prosto: "Prosto One", sans-serif;
  --rampart: "Rampart One", sans-serif;
  --poetsen: "Poetsen One", sans-serif;
}

/* Styling for the main container of the messages section */
.messages-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styling for the top bar section within the messages container */
.messages-container .topBar {
  width: 100%;
}

.topBar {
  width: 100%;
  padding: 20px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* Styling for the home button within the top bar */
.topBar .home-btn {
  width: 100px;
  height: 40px;
  margin-left: 25px;
  background-color: #1784c7;
}

/* Styling for the filters section within the messages container */
.messages-container .filters {
  width: 80vw;
  margin: 20px 0px;
  padding: 10px 0px;
  background-color: #f7f8fc;
  display: flex;
  align-items: center;
}

/* Styling for the left side of filters */
.filters .leftSide {
  width: 40%;
}

/* Styling for the search bar within the filters */
.leftSide .filters-searchBar {
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.filters-searchBar img {
  width: 30px;
  height: 30px;
  padding: 5px;
  background-color: white;
}

.filters-searchBar input {
  height: 30px;
  border: none;
  font-family: var(--rocknRoll);
}

.filters-searchBar input:focus {
  outline: none;
}

/* Styling for the right side of filters */
.filters .rightSide {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  column-gap: 15px;
}

/* Styling for input fields within the filters */
.rightSide .filter input {
  height: 30px;
  border: none;
  padding: 0px 5px;
  font-family: var(--rocknRoll);
}

/* Styling for hover effect on input fields */
.filters input:hover {
  outline: 2px solid black;
}

/* Styling for the meetings table section within the messages container */
.messages-container .meetings-table {
  width: 80vw;
  margin: 20px 0px;
}

/* Styling for the table and its elements */
.meetings-table table {
  width: 100%;
  border: 2px solid black;
  font-family: var(--playplen);
}

table thead {
  background-color: #36304a;
  color: white;
}

table tbody tr:hover {
  background-color: #0342ff;
  color: white;
  transition: all 0.2s linear 0s;
}

table tbody tr:nth-of-type(even) {
  background-color: #f7f8fc;
  color: black !important;
}

table tbody tr:nth-of-type(even):hover {
  background-color: #0342ff;
  color: white;
  transition: all 0.2s linear 0s;
}

table tbody td {
  padding: 5px 0px;
  text-align: center;
}

/* Styling for the response button within the table */
.response-btn {
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #00C87E;
  font-family: var(--playplen);
}

/* Styling for the table filters section within the messages container */
.messages-container .table-filters {
  width: 80vw;
  display: flex;
  justify-content: space-between;
}

/* Styling for the left side of table filters */
.table-filters .leftSide {
  width: 50%;
}

/* Styling for the content filter and entry count within the left side of table filters */
.leftSide .content-filter {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.content-filter input {
  width: 50px;
  border-radius: 5px;
}

/* Styling for the right side of table filters */
.table-filters .rightSide {
  display: flex;
  column-gap: 10px;
}

/* Styling for pagination buttons within the right side of table filters */
.rightSide button {
  width: 40px;
  height: 30px;
  border-radius: 30%;
  font-weight: 900;
}

.rightSide .previous-btn {
  border: 1px solid black;
  background-color: white;
  color: #2699fb;
}

.rightSide .next-btn {
  border: none;
  background-color: #2699fb;
  color: white;
}
