/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Julee&family=Just+Another+Hand&family=Kaushan+Script&family=Lobster&family=Pacifico&family=Playpen+Sans&family=Poppins&family=Prosto+One&family=Rampart+One&family=RocknRoll+One&family=Ubuntu&display=swap");

/* Resetting default margin, padding, and box-sizing for all elements */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Defining common stylings and variables using CSS variables */
:root {
  --justAnotherHand: "Just Another Hand", cursive;
  --kaushan: "Kaushan Script", cursive;
  --lobster: "Lobster", sans-serif;
  --pacifio: "Pacifico", cursive;
  --playplen: "Playpen Sans", cursive;
  --poppins: "Poppins", sans-serif;
  --rocknRoll: "RocknRoll One", sans-serif;
  --ubuntu: "Ubuntu", sans-serif;
  --julee: "Julee", cursive;
  --prosto: "Prosto One", sans-serif;
  --rampart: "Rampart One", sans-serif;
  --poetsen: "Poetsen One", sans-serif;
}

/* Styling for the main container of the projects page */
.projects-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styling for the top bar containing Home and Contribute buttons */
.topBar {
  width: 100%;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between !important;
  align-items: center;
}

/* Styling for buttons in the top bar */
.topBar button {
  border: none;
  border-radius: 5px;
  font-family: var(--prosto);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
}

/* Styling for the Home button in the top bar */
.topBar .home-btn {
  width: 100px;
  height: 40px;
  margin-left: 25px;
  background-color: #1784c7;
}

/* Styling for the Home button's image */
.topBar .home-btn img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* Styling for the Contribute button in the top bar */
.topBar .contribution-btn {
  height: 40px;
  padding: 0px 10px;
  margin-right: 25px;
  background-color: #00ca80;
}

/* Styling for the filters section in the projects page */
.projects-container .filters {
  width: 80vw;
  padding: 10px 0px;
  margin: 20px 0px;
  background-color: #f7f8fc;
  display: flex;
  align-items: center;
}

/* Styling for the left side of the filters section */
.filters .leftSide {
  width: 40%;
}

/* Styling for the search bar in the filters section */
.leftSide .filters-searchBar {
  margin-left: 15px;
  display: flex;
  align-items: center;
}

/* Styling for the search bar icon */
.filters-searchBar img {
  width: 30px;
  height: 30px;
  padding: 5px;
  background-color: white;
}

/* Styling for the input in the search bar */
.filters-searchBar input {
  height: 30px;
  border: none;
  font-family: var(--rocknRoll);
}

/* Styling for the input in focus state */
.filters-searchBar input:focus {
  outline: none;
}

/* Styling for the right side of the filters section */
.filters .rightSide {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  column-gap: 15px;
}

/* Styling for the input in the filter section */
.rightSide .filter input {
  height: 30px;
  border: none;
  padding: 0px 5px;
  font-family: var(--rocknRoll);
}

/* Styling for the last child of the filter section to add margin */
.rightSide .filter:last-child {
  margin-right: 15px;
}

/* Styling for hover effect on filters input */
.filters input:hover {
  outline: 2px solid black;
}

/* Styling for the projects table section */
.projects-container .projects-table {
  width: 80vw;
  margin: 20px 0px;
}

/* Styling for the projects table */
.projects-table table {
  width: 100%;
  border: 2px solid black;
  font-family: var(--playplen);
}

/* Styling for the table header */
table thead {
  background-color: #36304a;
  color: white;
}

/* Styling for hover effect on table rows */
table tbody tr:hover {
  background-color: #0342ff;
  color: white;
  transition: all 0.2s linear 0s;
}

/* Styling for even rows in the table */
table tbody tr:nth-of-type(even) {
  background-color: #f7f8fc;
  color: black !important;
}

/* Styling for even rows in hover state */
table tbody tr:nth-of-type(even):hover {
  background-color: #0342ff;
  color: white;
  transition: all 0.2s linear 0s;
}

/* Styling for table data cells */
table tbody td {
  padding: 5px 0px;
  text-align: center;
}

/* Styling for the table filters section */
.projects-container .table-filters {
  width: 80vw;
  display: flex;
  justify-content: space-between;
}

/* Styling for the left side of the table filters */
.table-filters .leftSide {
  width: 50%;
}

/* Styling for the content filter section */
.leftSide .content-filter {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

/* Styling for the input in the content filter section */
.content-filter input {
  width: 50px;
  border-radius: 5px;
}

/* Styling for the right side of the table filters */
.table-filters .rightSide {
  display: flex;
  column-gap: 10px;
}

/* Styling for buttons in the right side of table filters */
.rightSide button {
  width: 40px;
  height: 30px;
  border-radius: 30%;
  font-weight: 900;
}

/* Styling for the previous button in table filters */
.rightSide .previous-btn {
  border: 1px solid black;
  background-color: white;
  color: #2699fb;
}

/* Styling for the next button in table filters */
.rightSide .next-btn {
  border: none;
  background-color: #2699fb;
  color: white;
}

/* Styling for the contribution form container */
.contribution-form-container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(217, 217, 217, 50%);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0%;
}

/* Styling for the show class to display the contribution form container */
.show {
  display: flex;
}

/* Styling for the contribution form */
.pcf-form {
  width: 50%;
  height: 500px;
  border-radius: 10px;
  border: 2px solid black;
  background-color: white;
}

/* Styling for the contribution form header */
.pcf-form .pcf-form-header {
  width: 100%;
  height: 10%;
  padding: 0px 25px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #00ca80;
  color: white;
  font-family: var(--prosto);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Styling for the contribution form header text */
.pcf-form-header p {
  padding-right: 275px;
}

/* Styling for the contribution form content */
.pcf-form form {
  width: 100%;
  height: 90%;
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  row-gap: 10%;
}

/* Styling for the first row of the contribution form */
.pcf-form form .pcf-row1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* Styling for the second row of the contribution form */
.pcf-form form .pcf-row2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 20px;
}

/* Styling for the input fields in the second row */
.pcf-row2 input {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

/* Styling for the textarea in the second row */
.pcf-row2 textarea {
  width: 100%;
  height: 100px;
  border-radius: 5px;
  padding: 10px 10px;
  background-color: #eedd99;
  border: 2px solid black;
  font-family: var(--rocknRoll);
  color: black;
}

/* Styling for the placeholder text in the textarea */
.pcf-row2 textarea::placeholder {
  color: black;
}

/* Styling for the third row of the contribution form */
.pcf-row3 {
  display: flex;
  justify-content: center;
  align-content: center;
}

/* Styling for the confirm button in the contribution form */
.confirm-btn {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #00ca80;
  color: white;
  font-family: var(--poppins);
}

/* Styling for the input fields in the contribution form */
.pcf-form form input {
  height: 50px;
  border-radius: 5px;
  padding: 0px 10px;
  background-color: #eedd99;
  font-family: var(--rocknRoll);
  color: black;
}

/* Styling for the placeholder text in the input fields */
.pcf-form form input::placeholder {
  color: black;
}

/* Styling for the details container */
.details-container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(217, 217, 217, 50%);
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0%;
}

/* Styling for the show class to display the details container */
.show {
  display: flex;
}

/* Styling for the details box inside the details container */
.details-container .details-box {
  width: 800px;
  height: 300px;
  border: 5px solid black;
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
  font-family: var(--ubuntu);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styling for the top contents of the details box */
.details-box .top-contents {
  width: 100%;
  height: 10%;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
